<ul>
  <li><a href="http://lfe.gitbooks.io/quick-start/content/index.html">Quick Start</a></li>
  <li><a href="http://lfex.github.io/hyperpolyglot/">Language Comparison Chart</a> - LFE, Erlang, Common Lisp, & Clojure
    (adapted from <a href="http://hyperpolyglot.org/lisp.html">Hyperpolyglot</a>)
    <span style="color: red;">[IN PROGRESS]</span>
  </li>
  <li>The new <a href="/user-guide/intro/1.html">User Guide</a> <span style="color: red;">[IN PROGRESS]</span></li></li>
  <li><a href="/prog-rules/1.html">LFE Programming Rules and Conventions</a></li>
  <li><a href="/style-guide/1.html">LFE Style Guide</a></li>
</ul>
