<!doctype html>
<html>

{% include head.html %}

  <body>
      <div id="header">
        <input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
        <label for="navbar-checkbox" class="navbar-handle">&#9776;</label>
        <nav>
          <ul>
            <li class="fork"><a href="https://github.com/rvirding/lfe">LFE On GitHub</a></li>
            <li class="title"><a href="http://lfe.io/#resources">Download</a></li>
            <li class="title"><a href="/community.html">Community</a></li>
            <li class="title"><a href="http://lfe.gitbooks.io/quick-start/content/index.html">Quick Start</a></li>
            <li class="title"><a href="http://lfe.io/">Main Site</a></li>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
