*.beam
*.o
*.plt
*.sublime-project
*.sublime-workspace
.eunit
debug-*
ebin/*
erl_crash.dump
.rebar
bin
_build/*
log/*
master/*
.sass-cache
priv/templates/*.erl
rebar.lock
*.backup
*.bak
compile_commands.json
rebar3.crashdump
priv/sass/Gemfile.lock
priv/sass/ruby
priv/sass/.bundle
