#(project
  (#(meta
     (#(name docs)
      #(description "Markup Language Expressions for LFE: creating HTML with S-expressions on the Erlang VM.")
      #(version "3.0.0")
      #(keywords ("LFE" "Lisp" "Library" "Web" "HTML" "XML" "Markup" "Static" "Docs"
                  "Documentation"))
      #(license
        (#(name "Apache License, Version 2.0")
         #(url "http://www.apache.org/licenses/LICENSE-2.0")))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfe/docs")))))
   #(app
     (#(mod #(docs ()))))))

#(site-gen
  (#(build-dir "build")
   #(static-assets "priv/static")))
