#(project
  (#(meta
     (#(name docs)
      #(description "Documentation source for Lisp Flavoured Erlang.")
      #(version "3.0.0")
      #(keywords ("LFE" "Lisp" "Library" "Web" "HTML" "XML" "Markup" "Static" "Docs"
                  "Documentation"))
      #(license
        (#(name "Apache License, Version 2.0")
         #(url "http://www.apache.org/licenses/LICENSE-2.0")))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfe/docs")))))
   #(app
     (#(mod #(docs ()))))))

#(barista
  (#(httpd-conf
     (#(port 8080)
      #(server-name "docs-dev")
      #(server-root "./")
      #(docroot "docs")
      #(host "localhost")
      #(mime-types (#("html" "text/html")
                    #("css" "text/css")
                    #("js" "application/javascript")
                    #("json" "application/javascript")
                    #("png" "image/png")
                    #("jpeg" "image/jpeg")
                    #("jpg" "image/jpeg")))
      #(index-files ("index.html"))
      #(log-dir "log")
      #(error-log "errors.log")
      #(access-log "access.log")))))

#(logging (
   #(log-level debug)
   #(colored true)
   #(colors (#(timestamp (color green))
             #(process (color cyan))
             #(date (color green))
             #(time (color green))
             #(modfunc (color yellow))
             #(message (color green))
             #(debug (color greenb))
             #(info (color blue))
             #(notice (color cyan))
             #(warning (color yellow))
             #(error (color red))
             #(critical (color yellowb))
             #(alert (color magentab))
             #(emergency (color redb))))
   #(backend lager)
   #(options (#(lager_console_backend (
                debug
                #(logjam-formatter
                  (date " " time " [" pid "] [" severity "] " message "\n"))))))))
