#(project
  (#(meta
     (#(name docs)
      #(description "Documentation source for Lisp Flavoured Erlang.")
      #(version "3.0.0")
      #(keywords ("LFE" "Lisp" "Library" "Web" "HTML" "XML" "Markup" "Static" "Docs"
                  "Documentation"))
      #(license
        (#(name "Apache License, Version 2.0")
         #(url "http://www.apache.org/licenses/LICENSE-2.0")))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfe/docs")))))
   #(app
     (#(mod #(docs ()))))))

#(site-gen
  (#(dev-server (#(port 5099) #(docroot "master")))
   #(nav-file "priv/nav/data.lfe")
   #(build-dir "master")
   #(static-assets "priv/static")))

#(logging (
   #(log-level debug)
   #(colored true)
   #(colors (#(timestamp (color green))
             #(process (color cyan))
             #(date (color green))
             #(time (color green))
             #(modfunc (color yellow))
             #(message (color green))
             #(debug (color greenb))
             #(info (color blue))
             #(notice (color cyan))
             #(warning (color yellow))
             #(error (color red))
             #(critical (color yellowb))
             #(alert (color magentab))
             #(emergency (color redb))))
   #(backend lager)
   #(options (#(lager_console_backend (
                debug
                #(logjam-formatter
                  (date " " time " [" pid "] [" severity "] " message "\n"))))))))
