{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{erlydtl_opts, [
   {source_ext, ".html"},
   {module_ext, "-tmpl"},
   {debug_compiler, true},
   {return_warnings, true},
   {return_errors, true}
  ]}.

{deps, [
   {poise, {git, "https://github.com/lfex/poise.git", {tag, "0.1.0-alpha"}}},
   {exemplar, {git, "https://github.com/lfex/exemplar.git", {tag, "0.5.0-rc2"}}},
   {logjam, {git, "https://github.com/lfex/logjam.git", {tag, "0.5.0-rc2"}}},
   {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.12.1"}}},
   {lcfg, {git, "https://github.com/lfex/lcfg.git", {tag, "0.5.0-rc2"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc3"}}},
   {rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git",
     {branch, "master"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}},
                         {compile, {erlydtl, compile}}]}]}.

{profiles, [
  {dev, [
    {plugins, [
      {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.5.0-rc2"}}},
      {'lfe-clean', {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.4.0-rc1"}}}
      ]}
    ]},
  {test, [
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {deps, [
      {ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.10.0-rc6"}}}]},
    {plugins, [
      {'lfe-test', {git, "https://github.com/lfe-rebar3/test.git", {tag, "0.4.0-rc2"}}}]},
    {eunit_opts, [verbose]},
    {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]}
  ]}.
