{erl_opts, [{src_dirs, ["src", "test"]}]}.

{erlydtl_opts, [
   {source_ext, ".html"},
   {module_ext, "-tmpl"},
   {debug_compiler, true},
   {return_warnings, true},
   {return_errors, true}
  ]}.

{eunit_opts, [verbose]}.

{eunit_compile_opts, [{src_dirs, ["test", "src"]}]}.

{deps, [
   {lfe, {git, "https://github.com/rvirding/lfe.git", {branch, "develop"}}},
   {poise, {git, "https://github.com/lfex/poise.git", {branch, "master"}}},
   {logjam, {git, "https://github.com/lfex/logjam.git", {tag, "0.5.0-rc2"}}},
   {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.12.1"}}},
   {lcfg, {git, "https://github.com/lfex/lcfg.git", {tag, "0.5.0-rc2"}}},
   {barista, {git, "https://github.com/lfe-mug/barista.git", {tag, "0.2.2"}}},
   {inotify, {git, "https://github.com/erlsci/inotify.git", {branch, "master"}}},
   {ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.10.0-rc6"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc3"}}},
   {rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git",
     {branch, "master"}}},
   {'lfe-test', {git, "https://github.com/lfe-rebar3/test.git", {tag, "0.4.0-rc2"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}},
                         {compile, {erlydtl, compile}}]}]}.
