{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{deps, [
   {exemplar, ".*", {git, "git://github.com/lfex/exemplar.git", {branch, "master"}}},
   {logjam, ".*", {git, "git://github.com/lfex/logjam.git", {tag, "0.3.1"}}},
   {lcfg, ".*", {git, "git://github.com/lfex/lcfg.git", {tag, "0.3.1"}}}
  ]}.

{plugins, [
   {'lfe-compile', ".*", {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.2.2"}}},
   {lodox, ".*", {git, "https://github.com/quasiquoting/lodox.git", {tag, "0.12.5"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{profiles, [
  {dev, [
    {plugins, [
      {'lfe-version', ".*", {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.2.2"}}},
      {'lfe-clean', ".*", {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.1.1"}}}
      ]}
    ]},
  {test, [
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {deps, [
      {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.7.1"}}}]}
      ]}
  ]}.

{lodox,
  [{apps,
    [{exemplar,
      [{'source-uri',
        "https://github.com/lfex/exemplar/blob/{version}/{filepath}#L{line}"},
       {'output-path', "docs/master/current/api"}]}]}
  ]}.
