<h3>SICP</h3>
<em>The LFE Edition</em>
<ul>
  <li><a href="http://lfe.gitbooks.io/sicp/">Cover</a></li>
  <li><a href="http://lfe.gitbooks.io/sicp/content/ch1/building-abstractions-with-functions.html">Chapter 1</a> - Building Abstractions with Functions</li>
  <li><a href="http://lfe.gitbooks.io/sicp/content/ch2/building-abstractions-with-data.html">Chapter 2</a> - Building Abstractions with Data <span style="color: red;">[IN PROGRESS]</span></li>
  <li>Chapter 3 - Modularity, Objects, and State</li>
  <li>Chapter 4 - Metalinguistic Abstraction</li>
  <li>Chapter 5 - Computing with Register Machines</li>
</ul>

<h3>Casting SPELs in Lisp</h3>
<em>The LFE Edition</em>
<ul>
  <li><a href="http://lfe.gitbooks.io/casting-spels/">Link</a></li>
</ul>

<h3>Reference Materials</h3>
<ul>
  <li><a href="http://lfe.gitbooks.io/reference-guide/">LFE Reference Guide</a></li>
  <li><a href="http://lfe.gitbooks.io/quick-start/">Quick Start</a></li>
  <li><a href="http://lfe.gitbooks.io/lfetool-quick-start/">Quick Starti with <code>lfetool</code></a></li>
</ul>

