<ul>
  <li>
    <a href="http://webcem01.cem.itesm.mx:8005/erlang/cd/downloads/hopl_erlang.pdf">A History of Erlang</a>
    - Joe Armstron's 2007 paper which he presented at the
    <a href="http://research.ihost.com/hopl/HOPL-III.html">third HOPL</a>
    conference.
  </li>
  <li><a href="http://www.erlang.org/course/history.html">Erlang Timeline</a>, 1982 - 1993.</li>
  <li>
    The True story about why we invented Erlang ...
    [<a href="http://vimeo.com/33972975">video</a> |
    <a href="https://www.erlang-factory.com/upload/presentations/416/MikeWilliams.pdf">slides</a>]
    - Mike Williams presents at Erlang Factory London 2011.
  </li>
  <li>
    <a href="http://www.infoq.com/interviews/williams-erlang">Video interview with Mike Williams</a>
    - History of Erlang, Modeling, and Large Scale Design (Erlang Factory London 2011).
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=HCwRGHj5jOE">26 years with Erlang</a>
    - Joe Armstrong tells us how he got his grey hairs at a 2013 Chicago Erlang
    Meetup.
  </li>
  <li><a href=""></a></li>
  <li><a href="http://www.cs.tut.fi/~popl/essays/erlang.pdf">A Brief History of Erlang</a>
  - an essay for a course on the Principles of Programming Languages.</li>
</ul>
