<!doctype html>
<html>

  {% include head.html %}

  <body>
      <div id="header">
        <nav>
          <li class="fork"><img src="https://github.com/lfe/docs/raw/master/images/logos/LispFlavoredErlang-xtiny.png" align="top" /></li>
          <li class="title"><a href="http://lfe.io/#resources">Download</a></li>
          <li class="title"><a href="/community.html">Community</a></li>
          <li class="title"><a href="/contributing.html">Contributing</a></li>
          <li class="title"><a href="http://lfe.gitbooks.io/quick-start/content/index.html">Quick Start</a></li>
          <li class="title"><a href="/">Home</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
