{% extends "column_double.html" %}

{% block column_double_sidebar %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li><div class="toc-heading">Documentation</div></li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#site-toc-ll">Learning LFE <span class="caret"></span></a>
          <ul id="site-toc-ll" class="collapse">
            <li><a href="#">Quick Start</a></li>
            <li><a href="#">LFE Tutorial</a></li>
            <li><a href="#">Exercism.io</a></li>
            <li><a href="#">Language Comparison Chart</a></li>
            <li><a href="#">Casting SPELs with LFE</a></li>
            <li><a href="#">Subject Area Tutorials</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#site-toc-r">Reference <span class="caret"></span></a>
          <ul id="site-toc-r" class="collapse">
            <li><a href="#">User Guide</a></li>
            <li><a href="#">User Manual</a></li>
            <li><a href="#">Style Guide</a></li>
            <li><a href="#">LFE Programming Rules and Conventions</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#site-toc-ba">Building Applications <span class="caret"></span></a>
          <ul id="site-toc-ba" class="collapse">
            <li><a href="#">OTP</a></li>
            <li><a href="#">YAWS</a></li>
            <li><a href="#">Dragon</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#site-toc-t">Tooling <span class="caret"></span></a>
          <ul id="site-toc-t" class="collapse">
            <li><a href="#">Setting Up Text Editors</a></li>
            <li><a href="#">rebar3</a></li>
            <li><a href="#">lodox</a></li>
          </ul>
        </li>
        <li><div class="toc-heading">Community</div></li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#site-toc-ds">Discussion and Support <span class="caret"></span></a>
          <ul id="site-toc-ds" class="collapse">
            <li><a href="#">Mail list</a></li>
            <li><a href="#">IRC</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#site-toc-sm">Social Media <span class="caret"></span></a>
          <ul id="site-toc-sm" class="collapse">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Google</a></li>
          </ul>
        </li>
        <li><div class="toc-heading">Other Resources</div></li>
        <li>
          <a href="#">Presentations & Videos</a>
          <a href="#">History</a>
        </li>
      </ul>
    </div>
{% endblock %}

{% block column_double_main %}
        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Blank Page
              <small>Subheading</small>
            </h1>
            <p>Content, etc.</p>
          </div>
        </div>
        <!-- /.row -->
{% endblock %}
