{% extends "base.html" %}

{% block main_content %}
    <div class="container splash">
      <div class="row">
        <div class="col-lg-6">
          <!-- Main component for a primary marketing message or call to action -->
          <div>
            <h1>Taking the Syntax out of Distributed Systems Programming </h1>
            <p>
              Start learning LFE, sharpen your pattern-matching skills, or create your next highly concurrent, fault-tolerant system with LFE/OTP.
            </p>
            <p>
              <a class="btn btn-lg btn-default" href="../../components/#navbar" role="button">Browse the documentation &raquo;</a>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="images/backsplash.png" class="backsplash" alt="Backsplash">
        </div>
      </div>
    </div> <!-- /container -->

    <div class="highlight-module-group">
    <div class="container splash">
      <div class="row">
        <div class="col-lg-4 text-center highlight-module">
          <a href="{{ base_dir }}/guides/"><span class="mega-octicon octicon-heart"></span></a>
          <h2><a href="{{ base_dir }}/guides/">Learn LFE</a></h2>
          <p>New to LFE? Get started here with LFE using our intro guides -- you're just a <code>git clone</code> or <code>docker run</code> away!</p>
        </div>
        <div class="col-lg-4 text-center highlight-module">
          <a href="{{ base_dir }}/ref/"><span class="mega-octicon octicon-book"></span></a>
          <h2><a href="{{ base_dir }}/ref/">Reference</a></h2>
          <p>The LFE core reference materials is the right place to go when looking for the exact usage information you need.</p>
        </div>
        <div class="col-lg-4 text-center highlight-module">
          <a href="{{ base_dir }}/community/"><span class="mega-octicon octicon-git-pull-request"></span></a>
          <h2><a href="{{ base_dir }}/community/">Community</a></h2>
          <p>Want to talk with poeple who know and use LFE? Got a Question? Want to share the love? Come hang out with us!</p>
        </div>
      </div>
    </div> <!-- /container -->
    </div>

    <div class="container landing-doc-cats">
      <div class="row">

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>Getting Started</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Quick Start</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">LFE Tutorial</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Exercism.io</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Language Comparison Chart</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Casting SPELs with LFE</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Subject Area Tutorials</a>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>Reference</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">User Guide</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">User Manual</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Style Guide</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">LFE Programming Rules<br/>and Conventions</a>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>Building Applications</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">OTP / OLP</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">YAWS</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Dragon</a>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>Tooling</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Setting Up Text Editors</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">rebar3</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">lodox</a>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>LFE Libraries</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Core LFE Libs</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">ltest</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">lodox</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">calrissian</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">kanin</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">exemplar</a>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>Getting Involved</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Fix an LFE ticket</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Fix an LFEX project ticket</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Share a blog post</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Write a tutorial!</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Give an LFE Talk!</a>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>Community</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Mail list</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Slack</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">IRC</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Blog</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Social Media</a>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="list-group">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><h2>History</h2></a></li>
            </ul>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Lisp</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">Erlang</a>
            <a href="{{ base_dir }}/XXX/" class="list-group-item">LFE</a>
          </div>
        </div>

      </div>
    </div> <!-- /container -->
{% endblock %}
