<!DOCTYPE html>
<html lang="en">
{% block head %}
  <head>
  {% block head_content %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>{% block page_title %}{% endblock %}{% block page_subtitle %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap-min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/lfe.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% endblock %}
  </head>
{% endblock %}
{% block body %}
  <body>
  {% block body_content %}
    {% block top_nav %}
    <nav class="navbar navbar-default navbar-fixed-top">
      {% block top_nav_content %}
      {% endblock %}
    </nav>
    {% endblock %}
    {% block main %}
    <main>
      {% block main_content %}
      {% endblock %}
    </main>
    {% endblock %}
    {% block footer_wrapper %}
    <div class="container">
      {% block footer %}
      <footer class="footer">
        {% block footer_content %}
        {% endblock %}
      </footer>
      {% endblock %}
    </div>
    {% endblock %}
    {% block pre_end_scripts %}
    {% endblock %}
    {% block end_scripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/jquery-1.12.1.min.js"><\/script>')</script>
    <script src="js/bootstrap-3.3.6.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/lfe.js"></script>
    {% endblock %}
    {% block post_end_scripts %}
    {% endblock %}
  {% endblock %}
  </body>
{% endblock %}
</html>
